* {
    padding: 6px;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
}

button {
    border: none;
    border-radius: 12px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: inline-grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    border: 3px solid black;
    border-radius: 5px;
    height: 500px;
    width: 500px;
}

.grid-cell {
    display: inline-flex;
    flex-wrap: wrap;
    border: 1px solid black;
}